.dashboard {
  display: flex;
  height: 100vh;
  width: 100vw;
  background: #3838389f;
  font-family: "Segoe UI", sans-serif;
}

/* Main */
.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* Cards */
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px;
  padding: 20px;
}

.card:hover{
  background: linear-gradient(135deg, #6f00ff, #3f3b3b);
}

.card {
  background: linear-gradient(135deg, #b687f3, #9650f1);
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  text-align: center;
}
.card h3 {
  font-size: 25px;
  margin-bottom: 5px;
  color: rgb(255, 255, 255);
}
.card p {
  font-size: 14px;
  color: rgb(255, 255, 255);
  margin-bottom: 30px;
  margin-top: 0;
}

/* Conteúdo */
.content {
  padding: 20px;
  color: black;
}

/* Botões dentro dos cards */
.card-btn {
  margin-top: auto;
  padding: 10px 16px;
  background: #fff;
  color: #7913fd;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
}

.card-btn:hover {
  background: #f0f0f0;
}

/* Card grande */
.big-card {
  margin: 20px;
  padding: 30px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  flex: 1; /* ocupa o resto do espaço */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.big-card h2 {
  font-size: 22px;
  margin-bottom: 15px;
  color: #333;
}

.big-card p {
  font-size: 16px;
  color: #555;
}
